<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.puze.sanitary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Setting.TextActivity"></activity>
        <activity android:name=".Store.CheckCommonActivity" />
        <activity android:name=".Store.CheckBasicActivity" />
        <activity android:name=".Store.CheckNormalActivity" />
        <activity android:name=".Store.ResultActivity" />
        <activity android:name=".Store.CreateStoreActivity" />
        <activity android:name=".Setting.InformationActivity" />
        <activity android:name=".Setting.LogActivity" />
        <activity android:name=".Setting.PasswordChangeActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LobbyActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>